<table>
    <tr>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">1</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">2</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">3</button></td>
    </tr>
    <tr>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">4</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">5</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">6</button></td>
    </tr>
    <tr>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">7</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">8</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">9</button></td>
    </tr>
    <tr>
        <td colspan="1"><button mat-flat-button  (click)="onNumberEnter($event.target.innerText)" >&#10005;</button></td>
        <td><button mat-flat-button (click)="onNumberEnter($event.target.innerText)">0</button></td>
        <td colspan="1"><button mat-flat-button  (click)="onNumberEnter($event.target.innerText)">&#10550;</button><td>
    </tr>
</table>