@import "~@angular/material/theming";
@import "../../assets/styles/theme";

body {
    font-size: medium;
    font-weight: bold;
}
.empty {
}

td {
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: mat-color($primary);
}

td.marked {
    background-color: mat-color($accent);
    color: mat-color($primary);
    background-size: 32px;
    background-image: url("../../assets/icons/marker.png");
    background-repeat: no-repeat;
    background-position: center;
}

table,
td {
    border: 1px solid mat-color($primary);
    border-collapse: collapse;
}

.ticketsWrapper {
    margin-bottom: 1em;
}

