body{
    font-size: medium;
    font-weight: bold;
}
.empty{
    background-color: gray;
}

td{
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: small;
}

td.selected{
    background-color:cyan;
}

td.marked{
    background-color: #ffeb3bed;
    background-size: 3em;
    background-image: url('../../assets/icons/marker.png');
    background-repeat: no-repeat;
}

table,td{
    border: 0.3ex solid black;
    border-collapse: collapse;
}

.ticketsWrapper{
    margin-bottom: 1em;
}