@import '~@angular/material/theming';
@import '../../assets/styles/theme';


body{
    font-size: medium;
    font-weight: bold;
}
.empty{
    
}

td{
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: mat-color($primary);
}

td.marked{
    background-color: mat-color($accent);
    color: $light-primary-text;
    background-size: 3em;
  //  background-image: url('../../assets/icons/marker.png');
    background-repeat: no-repeat;
}

table,td{
    border: 1px solid mat-color($primary);
    border-collapse: collapse;
}

.ticketsWrapper{
    margin-bottom: 1em;
}