<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="header" style="text-align:center">
    <h4>
      {{ title }}
    </h4>
    <div id="announceNumber">{{announceNumber}}</div>
    <button mat-flat-button color="accent" (click)="onModeButtonClick()">{{mode}}</button>
    &nbsp;
    <button mat-flat-button color="accent" (click)="onTicketAdd()" *ngIf="mode == 'Play'">Add Ticket</button>
  </div>

  <div id="inner-wrap" >
    <div id="content">
      <ticket [cells]="tkt" *ngFor = "let tkt of tickets"></ticket>
    </div>
  </div>

  <!-- <div *ngFor="let ptrn of detectedPatterns">
      <p>{{ptrn.friendlyName()}}</p>
  </div> -->
  <div id="footer">
    <numpad></numpad>
  </div>
</div>
<router-outlet></router-outlet>
