<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="header" style="text-align:center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="brand">housiely</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button color="white" (click)="onTicketAdd()" >
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div id="inner-wrap" class="mat-app-background" >
    <div id="content" [style.visibility]="tickets.length > 0 ? 'visible': 'hidden'">
      <ticket [cells]="tkt" *ngFor = "let tkt of tickets"></ticket>
    </div>
    <dialog></dialog>
  </div>

  <!-- <div *ngFor="let ptrn of detectedPatterns">
      <p>{{ptrn.friendlyName()}}</p>
  </div> -->
  <div id="footer">
    <pattern-board [patterns]="patterns"></pattern-board>
  </div>
</div>
<router-outlet></router-outlet>
