<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="header" style="text-align:center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-mini-fab id="announceNumber" *ngIf="announceNumber != ''">{{announceNumber}}</button>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button color="white" (click)="onTicketAdd()" *ngIf="mode == 'Play'">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="white" (click)="onModeButtonClick()" *ngIf="mode != 'Play'">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="white" (click)="onModeButtonClick()" *ngIf="mode == 'Play' && tickets.length > 0">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div id="inner-wrap" >
    <div id="content">
      <ticket [cells]="tkt" *ngFor = "let tkt of tickets"></ticket>
    </div>
    <dialog></dialog>
  </div>

  <!-- <div *ngFor="let ptrn of detectedPatterns">
      <p>{{ptrn.friendlyName()}}</p>
  </div> -->
  <div id="footer">
    
  </div>
</div>
<router-outlet></router-outlet>
