* html #wrapper { height:100% }
 
body {
    height:100%; 
    padding:0;
    margin:0;
    overscroll-behavior: contain;
}

#wrapper
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#inner-wrap {
    flex-grow: 2;
    overflow: hidden;
}

#inner-wrap:after {
    content:" ";
    display:block;
    clear:both;

}

* html #inner-wrap {
    height:100%;
}

#header
{

}

#footer
{
}

#content
{
    height: 100%;
    margin:1em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar-spacer{
    flex: 1 1 auto;
}