@import '~@angular/material/theming';
@import '../../../assets/styles/theme';

.mat-dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prize-dialog .mat-dialog-container{
    width: 72vw !important;
    max-height: 82vw;
}

h4{
    color: mat-color($primary);
}

#prizeIcon{
    width: 3.5em;
    padding: 1.5em;
}

.prizeWrapper{
    background-color: mat-color($primary);
    border-radius: 7em;
}

.prizeCellsWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow:scroll;
}

.cellWrapper{
    display: flex;
    margin: 4px auto;
}

.cells{
    display : inline-block;
    width: 1.5em;
    line-height: 1.5em;
    background-color: mat-color($accent);
    color: mat-color($primary);
    border-radius: 1.5em;
    font-size: small;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: auto 2px;
}