@import '~@angular/material/theming';

@include mat-core();



$md-steelgray: (
    50 : #ececec,
    100 : #cfcfcf,
    200 : #b0b0b0,
    300 : #909090,
    400 : #787878,
    500 : #FFC107,
    600 : #585858,
    700 : #4e4e4e,
    800 : #444444,
    900 : #333333,
    A100 : #f39595,
    A200 : #ee6868,
    A400 : #ff2424,
    A700 : #ff0a0a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$md-tealaccent: (
    50 : #e4eff2,
    100 : #bbd7df,
    200 : #8dbcc9,
    300 : #5fa1b3,
    400 : #3d8da3,
    500 : #004e6b,
    600 : #18718b,
    700 : #146680,
    800 : #105c76,
    900 : #084964,
    A100 : #96dcff,
    A200 : #63cbff,
    A400 : #30bbff,
    A700 : #16b2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($md-tealaccent);
$accent: mat-palette($md-steelgray,);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);